<%- include('header') -%>
<div class="container">
    <div class="row">
            <div class="col-md-8 col-lg-8 mx-auto new-post-form">
                    <form id="newPostForm" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" id="title" placeholder="Title of the post" required>
                        </div>
                        <div class="form-group">
                            <textarea id="postContent" class="form-control" rows="20" placeholder="Type your content" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Publish</button>
                    </form>
            </div>
    </div>
</div>  
<%- include('footer') -%>
<script src="/javascripts/new_post.js"></script>