<%- include('header') -%>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8 mx-auto">
            <h1 class="post-heading"><%= post.title %></h1>
            <p class="post-info">Posted by <%= post.user.name %></p>
            <p class="post-body">
                <%= post.content %>
            </p>
        </div>
    </div>
</div>  
<div class="container-fluid comment-section">
    <div class="row">
        <div class="col-md-8 col-lg-8 mx-auto">
            <h4 class="comment-title">COMMENTS</h4>


            <%if (user) {%>
            <div class="add-comment-section">
                    <form id="commentForm">
                        <div class="form-group">
                            <textarea class="form-control" id="commentContent" rows="5" required></textarea>
                        </div>
                        <button id="submitComment" type="submit" class="btn btn-default btn-block">Add comment</button>
                    </form>
            </div>
            <% } %>

        </div>
        <div id="jsCommentsContainer" class="col-md-8 col-lg-8 mx-auto comments-container">
            <% for(var i=0; i < post.comments.length; i++) { %>
                <div class="comment">
                    <div>
                        <div class="comment-heading"><%= post.comments[i].user.name %></div>
                        <p class="comment-body"><%= post.comments[i].content %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<!-- dummy comment node -->
<div id="dummyCommentSection" class="comment" style="display: none">
    <div>
        <div class="comment-heading"></div>
        <p class="comment-body"></p>
    </div>
</div>
<%- include('footer') -%>
<script src="/javascripts/comment.js"></script>
