<%- include('header') -%>
<div class="container">
    <div class="row">
            <div class="col-md-5 col-lg-5 mx-auto sign-in-form">
                    <form id="signin">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <a href="/signup" class="btn btn-default">Sign up</a>
                    </form>
            </div>
    </div>
</div>  
<%- include('footer') -%>
<script src="/javascripts/auth.js"></script>
