<%- include('header') -%>
<div class="container">
    <div class="row">
            <div class="col-md-5 col-lg-5 mx-auto sign-in-form">
                    <form id="signup">
                        <div class="form-group">
                            <label for="name">Your name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                                <label for="confPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="confPassword" placeholder="Password" required>
                            </div>
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
            </div>
    </div>
</div>  
<%- include('footer') -%>
<script src="/javascripts/auth.js"></script>
