<%- include('header') -%>
<div class="container home">
    <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <%if(posts.length == 0) { %>
                    <div class="no-post">
                        <h3>No posts found</h3>
                    </div>
                <% } %>
                <% for(var i=0; i < posts.length; i++) { %>
                    <div>
                        <a class="post-title" href="/posts/<%= posts[i].id %>">
                            <h1><%= posts[i].title %></h1>
                        </a>
                        <p class="post-info">posted by <%= user.name %></p>
                    </div>
                    <hr>
                <% } %>
            </div>

    </div>
</div>    
<%- include('footer') -%>
