body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a {
  color: #00B7FF;
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
    float: none;
}

h1 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.post-heading {
    font-size: 55px;
    font-weight: 800;
}

.post-title {
    text-decoration: none !important;
}

.post-title h1 {
    color: black;
    font-size: 35px;
    font-weight: 800;
}

.post-body {
    font-family: Lora,'Times New Roman',serif;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 1.5;
    font-size: 20px;
    min-height: 50vh;
}

.comment-section {
    background: #fafafa;
    padding-bottom: 50px;
}

.comment-body {
    font-family: Lora,'Times New Roman',serif;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 15px;
}

.post-info {
    font-family: Lora,'Times New Roman',serif;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
}

.page-title {
    text-align: left;
    font-size: 25px;
}

.page-title a {
    color: black;
    text-decoration: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.user-interaction {
    top: 20px;
    float: right;
    position: relative;
}

.sign-in-form {
    margin-top: 8%;
}

.btn-new-post {
    color: green;
    border-color: green;
}

.new-post-form {
    margin-top: 50px;
}

.comment-title {
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.comments-container {
    margin-top: 50px;
}
.comment {
    margin-top: 20px;
    background-color: white;
    padding: 30px;
}

.comment-body {
    font-family: Lora,'Times New Roman',serif;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 15px;
}

.home {
    padding-bottom: 50px;
}

.no-post {
    margin-top: 50px;
    text-align: center;
    color: #757575;
}
